body {
  background: #4b4b4b;
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  align-items: center;
}

.App {
  text-align: center;
}

.BucketListWrapper {
  display: flex;
  flex-direction: column;
  background: rgb(174, 174, 174);
  margin-top: 4rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.BucketListForm {
  width: 100%;
  margin-bottom: 1rem;
}

.bucket-list-input {
  outline: none;
  background: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.bucket-list-input::placeholder {
  color: #4b4b4b;
  font-variant: small-caps;
}

.bucket-list-btn {
  background: #ffffff;
  color: #4b4b4b;
  border: none;
  border-radius: 10px;
  padding: 0.55rem 0.55rem;
  margin-left: 0.5rem;
  cursor: pointer;
  font-variant: small-caps;
}

.BucketList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4b4b4b;
  color: rgb(255, 255, 255);
  padding: 0.1rem 0.75rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  font-variant: small-caps;
}

.fa-trash-arrow-up {
  margin-left: 0.4rem;
  margin-right: 0.5rem;
}
.fa-pen-to-square {
  margin-left: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.icon {
  transition: transform 0.1s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.current-list {
  font-size: 110%;
  font-variant: small-caps;
}

.title {
  background: rgb(174, 174, 174);
  font-size: 180%;
  font-variant: small-caps;
  margin-bottom: 0.5rem;
}

.completed {
  color: rgb(0, 0, 0);
  text-decoration: line-through;
  font-style: italic;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bucket-list {
  flex: 1;
  margin-right: 1rem;
}

.map-container {
  flex: 1;
  height: 100vh;
  margin-left: 1rem;
}
