body {
  background: #4b4b4b;
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  align-items: center;
}

.App {
  text-align: center;
}

.BucketListWrapper {
  background: rgb(174, 174, 174);
  margin-top: 4rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.BucketListForm {
  width: 100%;
  margin-bottom: 1rem;
}

.bucket-list-input {
  outline: none;
  background: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.bucket-list-input::placeholder {
  color: #4b4b4b;
}

.bucket-list-btn {
  background: #ffffff;
  color: #4b4b4b;
  border: none;
  border-radius: 10px;
  padding: 0.55rem;
  margin-left: 0.5rem;
  cursor: pointer;
  scale: 100%;
}

.BucketList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4b4b4b;
  color: rgb(255, 255, 255);
  padding: 0.1rem 0.75rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.fa-trash-arrow-up {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.icon {
  transition: transform 0.1s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.current-list {
  scale: 130%;
}
