body {
  background: #4b4b4b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}


.BucketListWrapper {
  background: rgb(174, 174, 174);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.BucketListForm {
  width: 100%;
  margin-bottom: 2rem;
}

.bucket-list-input {
  background: none;
  border: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 300px;
  color: #fff;
}

.bucket-list-input::placeholder {
  color: #4b4b4b;
}

.bucket-list-btn {
  background: #ffffff;
  color: rgb(174, 174, 174);
  border: none;
  padding: .55rem;
  cursor: pointer;
    
}

.BucketList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
